



.bg-blue {
    background-color:  #D7A86E;
    color: #000000;
}

.navbar-brand{ 
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: start;
    object-fit: scale-down;

}
 .nav-item a{
    color: #000000;
 }
 .nav-item a:hover{
    color: #F7F7F7;
 }

.preparacion{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: scale-down;


}
.container_foto{
    height: auto;
    width: 100%;

}
.table{
    color: #F7F7F7;
}
.cipo_foto{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: start;
    object-fit: scale-down;

}

.row{
    margin: 10px;
}
.footer{
    grid-area: footer;
    background: #D7A86E;
    font-size: 25px;
    color: #000000;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100px;
    
}

.footer_list{
    display: flex;
    align-content: center;
    justify-content: center;

}
.footer__li {
    color: #000000;
	padding: 25px;
    text-decoration: none;
	list-style-type: none;
    box-sizing: border-box;
}
.footer__li a{
    color: #000000;
}
.footer__li a:hover{
    color: #ffffff;

}
@media screen and (max-width:768px){

 .cipo_foto{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: start;
    object-fit: scale-down;

}  

.table{
    font-size: 15px;
    
}

}